# Dependencies
node_modules/
.pnpm-debug.log*

# Next.js
.next/
out/
build/

# Solana / Anchor
target/
**/*.so
**/*.json
!anchor/programs/**/*.json
!**/package.json
!**/package-lock.json
!vercel.json
!tsconfig.test.json
.anchor/
test-ledger/

# Environment Variables
.env
.env.local
.env.production
.env.development

# OS Files
.DS_Store
.vercel
.env*.local
